#container {
  position: relative;
  border: 1px solid black;
}

#message-box {
  position: absolute;
  top: 1em;
  display: inline-block;
  height: 50%;
  width: 25%;
}

#message-box > * {
  position: absolute;
  margin: 10px;
  padding: 0;
}

#tetris {
  border: 3px solid grey;
  margin: 0;
}

#alerts {
  top: 1em;
}

#score-tracker {
  bottom: 0;
}

#scoreboard {
  float: right;
  border: 1px solid black;
  height: 100%;
  display: none;
}

#submit-score {
  float: right;
  display: none;
}