body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  height: 100vh
}

#container > div {
  flex: 1;
  align-items: center;
}

#message-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#tetris {
  border: 3px solid grey;
  margin: 0;
}

#alerts {
  top: 1em;
}

#score-tracker {
  bottom: 0;
}

#score-container {
  display: flex;
  flex-direction: row;
}

#scoreboard {
  float: right;
  border: 1px solid black;
  height: 100%;
  display: none;
  overflow: auto;
}

#submit-score {
  float: right;
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
}